:root {
  /*FONTS:*/
  --heading: "Bad Script", "Brush Script MT", serif;
  --paragraph: "Ysabeau", Tahoma, sans-serif;
  --button: "Mogra", Tahoma, sans-serif;

  /*COLORS:*/
  --primary: #425934;
  --secondary: #e1cbb7;
  --tertiary: #4f759b;
  --black: #130303;
  --white: #ececec;
}

header {
  text-align: center;
  font-size: 2em;
  font-family: var(--heading);
  background-color: var(--primary);
  color: var(--white);
}

.search-form,
.name-form {
  border: 2px solid var(--black);
  padding: 20px;
  text-align: center;
  font-family: var(--paragraph);
}

.climate-select,
.category-select,
.origin-select,
.plant-name {
  padding: 0.5em;
}

form label {
  display: block;
  font-size: 1.3em;
}
.name-submit {
  margin-left: 5px;
  padding: 0.5em;
}
.search-form {
  display: flex;
  flex-direction: column;
}
.dropdown-wrapper {
  margin-bottom: 1em;
}

.plant-section {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 25px;
}

.plant-div {
  border: 2px solid var(--black);
  width: 70%;
  text-align: center;
  padding: 2em;
  background-color: var(--secondary);
  font-family: var(--paragraph);
  cursor: pointer;
  transition: transform 0.2s;
}

.plant-div:hover {
  transform: scale(1.05);
}

.common-name {
  font-size: 1.2em;
  font-weight: bold;
}

.care-div {
  display: block;
  position: fixed;
  top: 0%;
  background-color: var(--primary);
  font-family: var(--paragraph);
  color: var(--white);
  padding: 1em 2em 2em 2em;
  font-size: 1em;
  animation-duration: 1s;
  animation-name: care-div;
  animation-timing-function: cubic-bezier(0.26, 0.53, 0.74, 1.48);
}
 @keyframes care-div {
    0% {
      opacity: 0;
      transform: scale(0.5, 0.5);
      /* transform: scale(-1, -1); */
    }

    100% {
      opacity: 1;
      /* transform: scale(1, 1); */
    }
  }

.small-screen {
  display: none;
}

.identifiers {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.name-div {
  font-family: var(--heading);
  font-weight: bold;
  font-size: 1.2em;
  margin-left: 20px;
}

.close-care-div {
  display: block;
  padding: 0.2em;
  font-size: 1.5em;
  font-family: var(--button);
  margin: auto;
  color: var(--black);
  background-color: var(--white);
  border: 3px solid var(--black);
  font-weight: bold;
}

.more-info {
  color: var(--white);
}

@media screen and (min-width: 700px) {
  body {
    max-width: 80%;
    margin: auto;
  }
  .search-form {
    flex-direction: row;
    justify-content: space-around;
  }
  .plant-div {
    width: 270px;
    border-radius: 20px;
  }
  .plant-div:hover {
    border: 10px solid var(--black);
    margin: -10px;
  }
  .care-div {
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);

    font-size: 1.3em;

    border-radius: 20px;
  }

 
  .identifiers {
    flex-direction: row;
  }
  .small-screen {
    display: block;
  }
}
