:root {
  /*FONTS:*/
  --heading: "Bad Script", "Brush Script MT", serif;
  --paragraph: "Ysabeau", Tahoma, sans-serif;

  /*COLORS:*/
  --primary: #425934;
  --secondary: #E1CBB7;
  --tertiary: #4F759B;
  --black: #130303;
  --white: #ECECEC;
}

header{
 text-align: center;
 font-size: 2em;
 font-family: var(--heading);
 background-color: var(--primary);
 color: var(--white);
}

.search-form, .name-form{
 border: 2px solid var(--black);
 padding: 20px;
 text-align: center;
 font-family: var(--paragraph);
}

.climate-select, .category-select{
 padding: .5em;
}

form label{
 display: block;
}
.search-form{
 display: flex;
 flex-direction: column;
}
.search-form div{
 margin-bottom: 1em;
}

.plant-div {
  border: 2px solid var(--black);
  width: 300px;
  text-align: center;
  padding: 2em;
  background-color: var(--secondary);
    font-family: var(--paragraph);
    cursor: pointer;
}

.common-name {
  font-size: 1.2em;
  font-weight: bold;
}


.plant-section {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.care-div{
 display: block;
 position: fixed;
 top: 50%;
 left: 50%;
 transform: translate(-50%, -50%);
 background-color: var(--tertiary);
 font-family: var(--paragraph);
 color: var(--black);
 font-weight: black;
}

@media screen and (min-width: 700px) {
 body{
  max-width: 80%;
  margin: auto;
 }
 .search-form{
  flex-direction: row;
  justify-content: space-around;
 }
}
